.sigma-custom-heading-1645379064 .sigma-custom-heading-wrapper .sigma-heading-title-wrapper .heading-title {
    color: #ffffff;
}

.sigma-custom-heading-1645379064.custom-heading-style-2 .section-title .heading-title {
    color: #ffffff;
}

.sigma-custom-heading-1645379064.custom-heading-style-3 .section-title .heading-title {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service {
    background: #7e4555;
}

.sigma-service-629543021.service-style-2 .sigma_service {
    border-color: #7e4555;
}

.sigma-service-629543021.service-style-3 .sigma_service {
    background: #7e4555;
}

.sigma-service-629543021.service-style-3 .sigma_service {
    border-color: #7e4555;
}

.sigma-service-629543021.service-style-2 .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service:hover .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service .sigma_service-thumb {
    border-color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service .sigma_service-thumb::after {
    background-color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service .sigma_service-thumb::before {
    background-color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service:hover .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service .btn-link {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service .btn-link i {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service .btn-link {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service .btn-link i {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service:hover .btn-link {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service:hover .btn-link i {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-629543021.service-style-2 .sigma_service:hover .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-629543021.service-style-3 .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service {
    background: #db4242;
}

.sigma-service-1451608951.service-style-2 .sigma_service {
    border-color: #db4242;
}

.sigma-service-1451608951.service-style-3 .sigma_service {
    background: #db4242;
}

.sigma-service-1451608951.service-style-3 .sigma_service {
    border-color: #db4242;
}

.sigma-service-1451608951.service-style-2 .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service:hover .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service-body h5 {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service .sigma_service-thumb {
    border-color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service .sigma_service-thumb::after {
    background-color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service .sigma_service-thumb::before {
    background-color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service:hover .sigma_service-body p {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service .btn-link {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service .btn-link i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service .btn-link {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service .btn-link i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service:hover .btn-link {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service:hover .btn-link i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-2 .sigma_service:hover .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-1451608951.service-style-3 .sigma_service-thumb i {
    color: #ffffff;
}

.sigma-service-784956037.service-style-2 .sigma_service {
    background: #ffffff;
}

.sigma-service-784956037.service-style-2 .sigma_service {
    border-color: #ffffff;
}

.sigma-service-784956037.service-style-3 .sigma_service {
    background: #ffffff;
}

.sigma-service-784956037.service-style-3 .sigma_service {
    border-color: #ffffff;
}

.sigma-service-784956037.service-style-2 .sigma_service-body h5 {
    color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service:hover .sigma_service-body h5 {
    color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service-body h5 {
    color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service .sigma_service-thumb {
    border-color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service .sigma_service-thumb::after {
    background-color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service .sigma_service-thumb::before {
    background-color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service-body p {
    color: #777777;
}

.sigma-service-784956037.service-style-3 .sigma_service-body p {
    color: #777777;
}

.sigma-service-784956037.service-style-2 .sigma_service:hover .sigma_service-body p {
    color: #777777;
}

.sigma-service-784956037.service-style-2 .sigma_service .btn-link {
    color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service .btn-link i {
    color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service .btn-link {
    color: #44233b;
}

.sigma-service-784956037.service-style-3 .sigma_service .btn-link i {
    color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service:hover .btn-link {
    color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service:hover .btn-link i {
    color: #44233b;
}

.sigma-service-784956037.service-style-2 .sigma_service-thumb i {
    color: #db4242;
}

.sigma-service-784956037.service-style-2 .sigma_service:hover .sigma_service-thumb i {
    color: #db4242;
}

.sigma-service-784956037.service-style-3 .sigma_service-thumb i {
    color: #db4242;
}

.sigma-progressbar-650422548 .sigma-progress-bar-inner {
    background-color: #7e4555;
}

.sigma-progressbar-650422548 .sigma-progress-bar {
    background-color: #efefef;
}